h1, h3, h5 {
    color: purple;
}

h2, h4, h6 {
    color: green;
}

h1 {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: rgb(23, 147, 219);
    padding: 40px;
    box-shadow: inset -5px -15px rgba(0, 0, 0, .06);
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 50%;
    animation: wobble 5s ease-in-out infinite;
    transform-origin: center bottom;
    transition: padding .3s, bottom .3s;
    text-align: center;
  }
  
  @keyframes wobble {
    33% {
      transform: rotate(5deg);
    }
    66% {
      transform: rotate(-5deg);
    }
  }

@keyframes colourchange {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  
  /* The element to apply the animation to */
  body {
    width: 500px;
    height: 500px;
    background-color: red;
    animation-name: colourchange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

a {
    
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}

a:visited {
    color: yellow;
}

a:active {
    color: orange; 
}

#pic {
    align-self: center;
    margin: left="auto" right="auto";    
    transform: rotate(15deg);
    animation-name: spin;
    /* animation-name: size; */
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* @keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
} */

@keyframes spin {
    0% {
        transform: scale(0.1) rotate(180deg);
    }
    50%{
        transform: scale(2) rotate(0deg);
    }
    100%{
        transform: scale(0.1) rotate(1800deg);
    }
}

p.caption {
    color:slategray;
    margin: 40px;    
    transform: rotate(15deg);
    animation-name: spin2;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin2 {
    from {
        transform: rotate(360deg);
    } to {
        transform: rotate(0deg);
    }
}

#sections, #list {
    text-align: center;
}

p::first-letter {
    color: #ff0000;
    font-size: xx-large;
}

button {
    color: hotpink;
}

#submit {
    background-color: green;
}

#reset {
    background-color: red;
    color: darkmagenta;
}

option {
    background-color: yellow;
    color: hotpink;
}
